server {
    listen       ${LISTEN_PORT};
    server_name  ${SERVER_NAME};
    location / {
        root   ${SERVER_ROOT};
        index  index.html index.htm index.php;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   ${SERVER_ROOT};
    }
}
